* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(10deg, #2483ff 60%, #2c6afb 60%);
}

nav {
    margin-top: 100px;
    background-color: #292929;
    text-align: center;
}

ul {
    list-style: none;
    font-size: 24px;
}

.menu-item{
    display: inline-block;
    // wyświetla się obok siebie pozycja 1, pozycja dwa
    height: 100px;
    width: 200px;
    line-height: 100px;
    cursor: pointer;
    // animować będziemy background color menu
    transition: background-color 0.3s;
}

.menu-item:hover{background-color: #363636;}


.dropdown{position: absolute;
    // width musi być tej samej szerkości co .menu item
    width: 200px;
}

.dropdown li{
    display: none;
    // chcemy wyświetlania po najechaniu
    opacity: 0;
    // zostanie wykorzystane opacity do animacji;
    background-color: #50515a;
    transition: color 0.3s    ;
}

.dropdown li:hover{color: royalblue;}

// po najechaniu na menu item chcemy by wyświetlały nam się pozycje li w ul dlatego
.menu-item:hover .dropdown li{
    display: block;
    // ma się wyświetlać po najechaniu blokowo i wywołujemy animacje, która ma zachować swoje właściwości
    animation: menu .5s forwards;
}

// wprowadzamy losowość w wyświetlaniu się list
.menu-item:hover .dropdown li:nth-child(2){
    animation-delay: 0.2s;
}
.menu-item:hover .dropdown li:nth-child(3){
    animation-delay: 0.4s;
}
.menu-item:hover .dropdown li:nth-child(4){
    animation-delay: 0.6s;
}
.menu-item:hover .dropdown li:nth-child(5){
    animation-delay: 0.8s;
}
.menu-item:hover .dropdown li:nth-child(6){
    animation-delay: 1s;
}
@keyframes menu{
    from{opacity: 0;
    transform: rotate(180deg);}
    to{opacity: 1;
    transform: rotate(0);}
}










// NADPISYWANKO

.two:hover .dropdown li{
    display: block;
    // ma się wyświetlać po najechaniu blokowo i wywołujemy animacje, która ma zachować swoje właściwości
    animation: menu2 .5s forwards;
}

@keyframes menu2{
    from{opacity: 0;
    transform: translateY(60px);}
    to{opacity: 1;
        transform: translateY(0);}
}



// NADPISYWANKO

.three:hover .dropdown li{
    display: block;
    // ma się wyświetlać po najechaniu blokowo i wywołujemy animacje, która ma zachować swoje właściwości
    animation: menu3 .5s forwards;
}

@keyframes menu3{
    from{opacity: 0;
    transform: rotateY(-60deg) translateX(60px);}
    to{opacity: 1;
   transform: rotateY(0) translateX(0);}
}


// NADPISYWANKO

.four:hover .dropdown li{
    display: block;
    // ma się wyświetlać po najechaniu blokowo i wywołujemy animacje, która ma zachować swoje właściwości
    animation: menu4 .5s forwards;
}

@keyframes menu4{
    from{opacity: 0;
    transform: scale(.8) rotateY(-60px);}
    to{opacity: 1;
        transform: scale(1) rotateY(0);}
}